<section>
	<!-- <div ng-include="'partials/nav.html'"></div> -->
	<a href="#/welcome" ng-click="fetch()">Search</a>
	<div class="row">
		<div class="col s4 offset-s4">
		<div class="card green darken-4 darken-1 z-depth-5">
            <div class="card-content white-text">
				<h2>Welcome to Movie History!</h2>
				<p>Begin typing in the search bar to look for new movies!</p>
				<p>As a registered user, you can save movies to your watchlist and rate them.</p>
				<p>Log in to get started!</p>
			</div>
		</div>
		</div>
	</div>
</section>