<section>
	<div ng-include="'partials/nav.html'"></div>
	<div class="row">
		<div class="col s4 offset-s4">
		<div class="card green darken-4 darken-1 z-depth-5">
            <div class="card-content white-text">
				<h2>Welcome to Movie History!</h2>
				<p>Click "Find New Movies" in the navigation bar to browse movie posters.</p>
				<p>As a registered user, you can save movies to your watchlist and rate them.</p>
				<p>Log in to get started!</p>
			</div>
		</div>
		</div>
	</div>
</section>