<!-- <div class="nav-container"> -->
	<nav class="navbar navbar-default">
	  <div class="navbar-fixed">
		    <div class="top-nav nav-wrapper">
		      <form>
		        <div class="left input-field">
		          <input type="search" ng-submit="search()" placeholder="Search for a movie..." ng-model="movieToSearch" id="search" required>
		          <label for="search"><i class="material-icons">search</i></label>
		          <i class="material-icons">close</i>
		        </div>
		      </form>
			    <ul class="right">
			   		<li>
		      			<a href="#/login">
		        			<span ngShow="!isAuthenticated()">Login / Register</span>
		      			</a>
		      			<a href="#/welcome" ng-click="logout()">
		        			<span ngHide="isAuthenticated()">Logout</span>
		      			</a>
		    		</li>
		    	</ul>
		    </div>
		    <div class="path">
		    <h3 class="header-path">Show the current filter / "file path"</h3>
				</div>
	      <div class="filter-menu">
	        <ul class="left">
	          <li class="active"><a href="#/show-untracked">Show Untracked</a></li>
	          <li><a href="#/show-unwatched">Show Unwatched</a></li>
	          <li><a href="#/show-watched">Show Watched</a></li>
	          <li><a href="#/favorites">Favorites</a></li>
	        </ul>
	      </div>
	  </div>
	</nav>
<!-- </div> -->